:root{
    --primery-font:Roboto ;
    --logo-font:Raleway ;
    --accent-color: #2196F3;
    --black-color: #212121;
    --contact-color: #757575;
    --white-color: #FFFFFF;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--black-color)
}
.text {
    width: 270px;
    height: 75px;
    box-sizing: border-box;
}
*{
    outline:1px solid tomato ;
}
/* =======Reset Styles========= */
html{
    box-sizing: border-box;
}
*,*
::before,
::after{
    box-sizing:inherit;
}

h1,
h2,
h3,
p
{
margin-top: 0;
margin-bottom: 0;


}
ul,
ol
{
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
padding: unset;
}
img{
    display: block;
}

.list{
list-style: none;
}
 .link{
    text-decoration: none;
}
/* ==========Reset Styles */

/* =========Header=========== */
.test {
    background-color: gold;
}
.head-link{
    padding-top: 24px;
    padding-bottom: 25px;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.head-link-container{
    display: flex;
        align-items: center;
justify-content:space-between;
}
.navigation{
    display: flex;
    align-items: center;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
    width: 145px;
    height: 31px;
}

.logo {
    color: var(--black-color);
    margin-right: 92px;
}
.logo-white{
    color: var(--white-color);
}
.wrapper{
    display: flex;
}
.header-link:not(:last-child){
    margin-right: 50px;
}
.header-nav-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    color: var(--black-color)
    
    
}
.header-nav-link:hover, 
.header-nav-link:focus {
    color: var(--accent-color);
}
.wrapper-adres{
    display: flex;
}

.header-contact{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--contact-color)
        
}
.header-contact{
    margin-left: 50px;

}

.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);}
/* =======Header */
/* ======Header2======== */
.portfolio-hero-button{
    cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
    
}     text-align: center;
        letter-spacing: 0.03em;
        
   
.portfolio-hero-button:hover,
.portfolio-hero-button:focus {
    background-color: var(--accent-color);
    
    color: var(--white-color);
}
/* =========Header2 */
/* =========Hero=========== */

.hero{
    height: 600px;
    background-color: #2F303A;
}

.hero-title{
   padding: 200px 232px 30px 225px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
        
}
.hero-button{
    min-width: 200px;
    min-height: 50px;
    padding: 30px ;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        background-color: var(--accent-color);
        color:var(--white-color);
         
}
.hero-button{
margin-left: auto;
margin-right: auto;
}

.hero-button:hover,
.hero-button:focus{
    background-color:#188CE8
    
}
.hero-button{
    cursor: pointer;
}

.advant-text{
    display: flex;
    flex-direction: row;
padding-top: 94px;
padding-bottom: 94px;
}

.hero-text{
    padding-right: 30px;
}

.main-advant{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-advant-text{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--contact-color)
        
}

/* ===========Hero */
/* =========About us========= */
section{
padding-top: 94px;
    padding-bottom: 50px;
}
.about-us-title{
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}
.about-us{
    padding-bottom: 94px;
}
.about-us-photo{
    display: flex;
flex-direction: row;
}
/* =========About-us */
/* ========Our-team========== */
.team{
    background-color: #F5F4FA;
}
.team-title{
   padding-top: 94px;
   padding-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}
.team-list{
    padding-bottom: 94px;
}
.team-photo{
    display: flex;
    flex-direction: row;
}
.team-name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
}
.about-team{
        font-size: 16px;
        line-height:1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--contact-color)
}
/* =========Our Team */
/* ===========Main-2========= */
.content-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        ;
}
.content-text{
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--contact-color)
}
.portfolio-header-photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* =============Main-2 */
/* =======Footer======== */
.footer-back{
        background: #2F303A;
}
.footer-adres{
    font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
         color:var(--white-color);
}
.portfolio-hero-button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
}
/* ============Foter */

